body{
  display: block !important;
}
.dark {
  background-color: #000000;
}

.dark {
  color: #EEEEEE;
}

.dark {
  border-color: #4E4FEB;
}

.dark .navbar {
  background-color: #068FFF;
}

.Title{
  color: #4E4FEB;
  font-size: 14pt;
}

.Title2{
  color: #068FFF;
}

.box {
  display: inline-block;
  border-radius: 5px; 
  border: 1px solid #525CEB; 
  padding: 10px; 
  background-color: #3D3B40; 
}

.PythonBox{
  display: block !important; 
  height: 200px;
  background-color: #d4d4d4 !important;
  border-radius: 10px;
}

.BashBox{
  display: flex; 
  background-color: #d4d4d4 !important;
  border-radius: 10px;
}

.Font14{
  font-size: 14pt;
}

h2{
  color: white!important;
}
p{
  color: white!important;
}

.liLight{
  color: white !important;
}

.navbar {
  color: #ff0000 !important; 
}

.navbar-nav .nav-link {
  color: #BFCFE7 !important; 
}

.navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  color: #068FFF !important; 
}

.navbar-nav .nav-item.dropdown .dropdown-menu {
  background-color: black !important; 
}
